# Server Configuration
PORT=3000
MODE=DEV
ALLOW_ORIGINS=http://localhost:3000,http://localhost:4000,http://localhost:5173
FRONTEND_URL=http://localhost:5173

# Database Configuration
POSTGRES_HOST=<your-database-host>
POSTGRES_PORT=<your-database-port>
POSTGRES_USER=<your-database-user>
POSTGRES_PASSWORD=<your-database-password>
POSTGRES_DATABASE=<your-database-name>

# JWT Configuration
AUTH_JWT_SECRET=<your-jwt-secret>
AUTH_TOKEN_COOKIE_NAME=<your-auth-token-cookie-name>
AUTH_TOKEN_EXPIRED_TIME=<your-auth-token-expired-time-in-seconds>
AUTH_TOKEN_EXPIRED_TIME_REMEMBER_ME=<your-auth-token-expired-time-remember-me-in-seconds>
AUTH_REFRESH_TOKEN_COOKIE_NAME=<your-auth-refresh-token-cookie-name>
AUTH_REFRESH_TOKEN_EXPIRED_TIME=<your-auth-refresh-token-expired-time-in-seconds>
